extends layout

block content
  h1= title
  - let icecreams = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:black;color:white;") 
            tr
                td Item ID
                td IceCream Brand
                td IceCream flavor 
                td IceCream Cost
        tbody 
            each icecream in icecreams 
                tr
                    td #{icecream._id}
                    td #{icecream.IceBrand}
                    td #{icecream.Iceflavor}
                    td #{icecream.IceCost}